body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: white;
}

@keyframes moveFigure {
  0% {
    transform: translate(-120%, -50%);
  }
  44% {
    transform: translate(10%, -50%);
  }
  45% {
    transform: translate(100%, -50%);
  }
  100% {
    transform: translate(-120%, -50%);
  }
}

/* Add this new animation for the grid cells */
@keyframes gridPulse {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.1;
  }
} 